body{
    background: #352f5b;
    color: antiquewhite;
  }
  
  .quotes {
    text-align: center;
  }
  
  .generateBtn {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .generateBtn > button{
    padding: 10px;
    font-weight: 600;
    border: 1px solid gray;
    border-radius: 4px;
    outline: none ;
  }
  
  .display_quote{
    min-height: 300px;
  }